
<table broder="2">
  <tr>
  <th>Images</th>
  <th>Present</th>
  <th>Absent</th>
  <th>percentage</th>
  <th>submitdetails</th>

</tr>
  <tr ngFor="let s of students">
<td><img src="assets/images/teacher.jpg" width="100" height="=100"/></td>
<td><input type="checkbox" name="present" checked></td>
<td><input type="checkbox" name="absent" unchecked></td>
<td><input type="text" name="percentage"></td>
<td><input type="submit" value="submit"></td>
</tr>
<tr>
<td><img src="assets/images/attend.jpg" width="100" height="=100"/></td>
<td><input type="checkbox" name="present" checked></td>
<td><input type="checkbox" name="absent"></td>
<td><input type="text" name="percentage"></td>
<td><input type="submit" value="submit"></td>
</tr>

<tr>
<td><img src="assets/images/attend1.jpg" width="100" height="=100"/></td>
<td><input type="checkbox" name="present" checked></td>
<td><input type="checkbox" name="absent"></td>
<td><input type="text" name="percentage"></td>
<td><input type="submit" value="submit"></td>
</tr>

<tr>
  <td><img src="assets/images/attend2.jpg" width="100" height="=100"/></td>
  <td><input type="checkbox" name="present" checked></td>
  <td><input type="checkbox" name="absent"></td>
  <td><input type="text" name="percentage"></td>
  <td><input type="submit" value="submit"></td>

</tr>

<tr>
  <td><img src="assets/images/attend3.jpg" width="100" height="=100"/></td>
  <td><input type="checkbox" name="present" checked></td>
  <td><input type="checkbox" name="absent"></td>
  <td><input type="text" name="percentage"></td>
  <td><input type="submit" value="submit"></td>

</tr>



</table>
